{% extends "layout.html" %}
{% block title %}选择文本{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block section %}
    <form method="POST" action="">
        <table>
            <br><br>
            <tr>
                <td><input type="submit" value="Spark README" formaction="/spark_ret"/></td>
            </tr>
            <br><br>
            <tr>
                <td><input type="submit" value="Hadoop README" formaction="/hadoop_ret"/></td>
            </tr>
        </table>
    </form>
{% endblock %}
{% block header %}
  {{ super() }}
{% endblock %}
{% block nav %}
  {{ super() }}
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
